.form-grid-container {
    margin: auto;
    width: 500px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.form-header {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 35px;
}

.form-field {
    font-size: 15px;
}

.form-label {
    font-size: 20px;
    text-align: right;
    padding-right: 10px;
}

.form-submit {
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: 'Roboto';
    font-size: 25px;
    width: 250px;
    margin: auto;
    border-radius: 15em;
    border-color: ivory;
    border-width: 2px;
    background-color: #282c34;
    color: ivory;
}

.form-submit:hover {
    background-color:#000;
}

